DATABASE_URL="postgresql+asyncpg://your_username:your_pass@db:5432(your_port)/your_db_name"

#jwt_settings
SECRET_KEY="yoursecretkey"
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=30

#Celery_redis_settings
SMTP_SERVER="smtp.gmail.com"
SMTP_PORT=465
SENDER_EMAIL="your-email@gmail.com"
SENDER_PASSWORD="your_app_password"


#TGBot_settings
TGBOT_TOKEN="your_tgbot_token"